{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.titulo.label(class="form-control-label") }}
                {% if form.titulo.errors %}
                    {{ form.titulo(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.titulo.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div> 
                {% else %}
                    {{ form.titulo(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.contenido.label(class="form-control-label") }}
                {% if form.contenido.errors %}
                    {{ form.contenido(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.contenido.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.contenido(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.enviar(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
<br><br><br><br><br><br>
{% endblock content %}
