{% extends "layout.html" %}
{% block content %}
	<h1>Bienvenido a Reptilia Auxiliar</h1>
	<br>
	<h2>Objetivo general</h2>
	<br>
	<p>
		Educar a las personas acerca del impacto ambiental y social de los reptiles, así como compartir conocimiento que ayudará a resolver problemáticas relacionadas con
estos. El proyecto consta de varias tareas fundamentales como la de informar,
ayudar, comunicar, y guiar a las personas que tienen el deber de conservar un reptil
bajo amenaza o también para aquellos que adquirieron una de estas especies como
mascota, la participación de la gente es clave para mejorar la calidad del proyecto.
	</p>
	<br>
	<h2>Objetivos específicos</h2>
	<br>
	<ul>
		<li>Informar al usuario acerca de los reptiles, sus cuidados y la importancia que representan para el medio ambiente mediante un apartado de cultura general.</li>
		<li>Ayudar al usuario a resolver sus dudas mediante los aportes de la comunidad.</li>
		<li>Comunicar las ideas del usuario o consultarlos aportes de la comunidad mediante un apartado de publicaciones.</li>
		<li>Guiar al usuario para que pueda formalizar la adquisición de reptiles 	especiales, mediante un apartado de legislación.</li>
		<li>Agilizar la búsqueda de especies mediante un apartado de búsqueda inteligente.</li>
		<li>Mejorar la calidad de la participación mediante calificaciones.</li>
		<li>Filtrar las publicaciones para mejorar la calidad de la información solicitada.</li>
		<li>Agilizar la experiencia del usuario.</li>
		<li>Desarrollar los mecanismos de seguridad necesarios para respetar el contexto del proyecto.</li>
		<li>Implementar buenas prácticas.</li>
	</ul><br><br>
	

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2>Antecedentes</h2>
				<br>
				<p>
					La principal problemática es la de ayudar a conocer a los reptiles y su rol en la sociedad, así como atacar los problemas que se presentan al buscar ayuda por internet: la información mal organizada, la poca participación, la cantidad de tiempo invertido y la poca atención al impacto ambiental [1].
				</p>
				<p>
					Esto fue detectado después de investigar diversas páginas web que en su mayoría son de venta y no aportan una cultura ambiental. Otras alternativas han sido presentadas por parte de organismos gubernamentales [2] pero que terminan ofreciendo información trivial.
				</p>
				<p>
					Algunos espacios virtuales promueven la participación de la comunidad, pero debido a la falta de mantenimiento y pocas medidas de seguridad terminan optando por métodos de autenticación tediosos incluso hasta para hacer una simple búsqueda. La información mal organizada está presente en gran parte de los proyectos antes mencionados, y esto es un problema que causará confusión así como el gasto de tiempo, dificultando la tarea de buscar información, algunos registros gubernamentales [3] ya cuentan con algunos datos, pero al intentar contrastarlos con los de otros sitios del mismo tipo se encuentran discrepancias, por lo que es de suma importancia resolver la problemática de la organización de los datos [4].
				</p>
				<p>
					Es necesario unir a la comunidad que decidió proteger o simplemente optó por adoptar una de estas especies, desafortunadamente la mayoría de los espacios donde es posible interactuar con otras personas se ven opacado a por el tecnicismo, lo cual para un usuario que no está experimentado puede hacerlo abandonar el sitio al no encontrar información específica.
				</p>
				<p>
					Reptilia Auxiliar surge como una alternativa que busca suplir las carencias antes mencionadas, más que nada se enfoca en los usuarios que desconocen de tecnicismos pero que buscan resolver sus dudas no solo en cuestiones ambientales sino también legales, lo cual es necesario dado que muchas personas ignoran hasta lo más básico en el ámbito legal [5].
				</p>
				<p>
					El proyecto es necesario para los que buscan respuestas rápidas y precisas.
				</p>
			</div>
			<div class="col-md-4">
				<h2>Justificación</h2>
				<br>
				<p>
					El proyecto busca facilitar al usuario el acceso a la información, La página web contendrá algunos apartados estáticos (cultura general y legislación), pero hay dos a destacar y que, por lo menos, han descartado los proyectos del mismo tipo, una de ellas es la parte de legislación, se da por hecho en el apartado que no habrá un asesoramiento legal, pero se otorgarán las herramientas básicas para que el usuario pueda tomar precauciones en caso de adquirir una especie exótica y no quiera meterse en problemas.
				</p>
				<p>
					El segundo apartado que hace única a la página, es el de la búsqueda inteligente, dentro de la clasificación de los reptiles hay una gran variedad de especies del mismo tipo cuyos rasgos físicos son tan similares que lo único diferenciable a simple vista son los colores o patrones en sus cuerpos, a pesar de las similitudes estos pueden no consumir los mismos alimentos, convivir con otras especies de la misma familia o soportar los mismos ambientes. La base de este apartado depende del reconocimiento de imágenes, consiste en tomarle una foto al reptil, adjuntarla y la página (mediante un algoritmo previamente entrenado) reconocerá el tipo de especie exacto (o por defecto, lo más aproximado) mostrando una breve descripción del mismo; por lo tanto, se podrá agilizar la búsqueda tanto en el apartado general como en el de publicaciones.
				</p>
			</div>
			<div class="col-md-4">
				<h2>Impacto social</h2>
				<br>
				<p>
					El impacto social está centrado en educar a las personas, ya que los principales fines de tener un reptil son para tener compañía o para la conservación, las personas deben de tener en claro las necesidades de estos y no simplemente coleccionarlos, se debe de tener en cuenta que, aunque sea posible adquirir especies exóticas, el único propósito de hacerlo deberá ser el de la conservación, de lo contrario se estaría incurriendo en un delito.
				</p>
				<p>
					El impacto ambiental es todavía más importante y va de la mano con el impacto social, uno de los papeles más comunes es el de proteger a las especies amenazadas pero también es indispensable proteger los ecosistemas ajenos y aquí es donde entran las especies que suelen ser adoptadas como mascotas, debido a varios factores, muchas personas optan por liberar a sus reptiles pero muchas veces introducir reptiles en ambientes a los que no pertenecen puede generar el desplazamiento de otras especies, creando así una reacción en cadena que terminará deteriorando el ambiente, los reptiles son muy resistentes y la sobre población de estos en ambientes equivocados puede representar un peligro pocas veces reversible.
				</p>
				<p>
					Otro aspecto a tener en cuenta son los cuidados y la salud, aquí es donde toma importancia la participación de la gente, no importa si se trata de aficionados o expertos, todos tienen derecho a opinar siempre y cuando se trate el tema principal.
				</p>
			</div>
		</div>
	</div>

	<br><br><h2>Referencias</h2><br>
	<ul>
		<li>[1] Flores Sánchez, M. d. R. (2018, 13 de noviembre). Permisos para tener una mascota exótica o salvaje. Excelsior. https://www.excelsior.com.mx/comunidad/permisos-para-tener-una-mascota-exotica-o-salvaje/1278109</li>
		<li>[2] Galindo Leal, C., Cárdenas, L., Ramírez, J., Rivas, S., Domínguez, N., Torres Bahena, E.,Arreola Alemón, R. y Domíguez Guerrero, I. (2012). Comisión Nacional para el Conocimiento y Uso de la Biodiversidad. Biodiversidad Mexicana. http://www2.biodiversidad.gob.mx/menusup/recursos.html</li>
		<li>[3] Secretaría de Medio Ambiente y Recursos Naturales. (2017, 6 de marzo). Anexo I: listado de reptiles. Gobierno de México. https://www.gob.mx/semarnat/documentos/lista-de-reptiles</li>
		<li>[4] Uetz, P. y Hošek, J. (1995, 10 de noviembre). Reptile and Amphibian Nutrition. Veterian Key. http://www.reptile-database.org/</li>
		<li>[5] Ley de protección a los animales de la ciudad de México, Ley (2019). http://www.paot.org.mx/centro/leyes/df/pdf/2020/LEY_PROTEC_ANIMALES_17_12_2019.pdf</li>
	</ul>
	

<br><br><br><br><br><br>
{% endblock content %}