{% extends "layout.html" %}
{% block content %}

	<h1 style = "text-align: center;color: black"> Legislación </h1>
	<h3>En el futuro podrías surgir nuevas leyes o reformarse las ya existentes por lo que la lista es variable</h3>
	<hr>
	<div class="container">
		<div class="row">
		<div class="col-md-6">
		<h2>Pasos para tramitar el permiso para adquirir una especie exotica</h2>
		<div class="card">
  			<div class="card-body">
    			<h5 class="card-title">Requisito #1</h5>
    			<p class="card-text">Identificación oficial vigente para personas físicas y representantes legales (Credencial para votar INE, Pasaporte, Cédula Profesional o Cartilla del Servicio Militar)*</p>
    			<a href="https://www.ine.mx/credencial/" class="card-link btn btn-outline-dark" target="_blank">INE</a>
    			<a href="#" class="card-link btn btn-outline-dark" target="_blank">Pasaporte</a>
    			<a href="#" class="card-link btn btn-outline-dark" target="_blank">Cedula profesional</a>
    			<a href="#" class="card-link btn btn-outline-dark" target="_blank">Cartilla servicio militar</a>
  			</div>
		</div>
		<div class="card">
  			<div class="card-body">
    			<h5 class="card-title">Requisito #2</h5>
    			<p class="card-text">Acta Constitutiva ó Poder Notarial (para el caso de personas morales)*</p>
    			<a href="https://gc.scalahed.com/recursos/files/r145r/w1772w/U6_Archivos/formato_acta_constitutiva.pdf" class="card-link btn btn-outline-dark" target="_blank">Acta Constitutiva</a>
    			<a href="https://consulmex.sre.gob.mx/raleigh/index.php/registro-civil-y-poderes-notariales/poder-notarial" class="card-link btn btn-outline-dark" target="_blank">Poder Notarial</a>
  			</div>
		</div>
		<div class="card">
  			<div class="card-body">
    			<h5 class="card-title">Requisito #3</h5>
    			<p class="card-text">De ser el caso, Poder Notarial o nombramiento para representantes legales*</p>
    			<a href="https://gc.scalahed.com/recursos/files/r145r/w1772w/U6_Archivos/formato_acta_constitutiva.pdf" class="card-link btn btn-outline-dark" target="_blank">Acta Constitutiva</a>
    			<a href="https://consulmex.sre.gob.mx/raleigh/index.php/registro-civil-y-poderes-notariales/poder-notarial" class="card-link btn btn-outline-dark" target="_blank">Poder Notarial</a>
  			</div>
		</div>
		<div class="card">
  			<div class="card-body">
    			<h5 class="card-title">Requisito #4</h5>
    			<p class="card-text">De ser el caso, la representación de las personas físicas deberá acreditarse carta poder firmada ante dos testigos, acompañada de copias simples de las identificaciones oficiales vigentes.</p>
    			<a href="https://embamex.sre.gob.mx/sudafrica/images/consulares/formatocartapoder.pdf" class="card-link btn btn-outline-dark" target="_blank">carta poder</a> 
  			</div>
		</div>
		<div class="card">
  			<div class="card-body">
    			<h5 class="card-title">Requisito #5</h5>
    			<p class="card-text">Comprobante del domicilio donde se encuentre el ejemplar</p>
  			</div>
		</div>
		<div class="card">
  			<div class="card-body">
    			<h5 class="card-title">Requisito #6</h5>
    			<p class="card-text">Documentación que acredite la legal procedencia de los ejemplares a registrar, en la que se señale el sistema de marca (facturas, notas de venta, autorización de aprovechamiento, autorización de subsistencia, autorización o permiso de importación).</p>
  			</div>
		</div>
		<div class="card">
  			<div class="card-body">
    			<h5 class="card-title">Requisito #7</h5>
    			<p class="card-text">Cartillas o demás documentación médica del ejemplar.</p>
  			</div>
		</div>
		<div class="card">
  			<div class="card-body">
    			<h5 class="card-title">Requisito #8</h5>
    			<p class="card-text">Carta compromiso en la que el interesado asuma la responsabilidad en el cuidado del ejemplar, así como la obligación de informar a la Secretaría sobre la defunción del mismo y sus causas</p>
    			<a href="https://www.gob.mx/bienestar/documentos/anexo-5-formato-carta-compromiso" class="card-link btn btn-outline-dark" target="_blank">Carta compromiso</a>
  			</div>
		</div>
		</div>
		<div class="col-md-6">
			<h2>Leyes y otros documentos</h2>
			<div class="list-group">
				<a href="https://www.google.com/webhp?hl=es&sa=X&sqi=2&pjf=1&ved=0ahUKEwjIvtiy9on0AhVYQvEDHXM2CboQPAgI" class="list-group-item list-group-item-action" target="_blank">
    				Ley General de vida silvestre
				</a>
				<a href="https://www.dof.gob.mx/nota_detalle.php?codigo=5464456&fecha=07/12/2016" class="list-group-item list-group-item-action" target="_blank">
    				ACUERDO por el que se determina la Lista de las Especies Exóticas Invasoras para México.
				</a>
				<a href="https://dof.gob.mx/nota_detalle_popup.php?codigo=5173091" class="list-group-item list-group-item-action" target="_blank">
    				Protección ambiental-Especies nativas de México de flora y fauna silvestres-Categorías de riesgo y especificaciones para su inclusión, exclusión o cambio-Lista de especies en riesgo.
				</a>
				<a href="https://www.senado.gob.mx/comisiones/medio_ambiente/docs/LGVS.pdf" class="list-group-item list-group-item-action" target="_blank">
					Ley General de Vida Silvestre
				</a>
				<a href="http://www.diputados.gob.mx/LeyesBiblio/regley/Reg_LGVS.pdf" class="list-group-item list-group-item-action" target="_blank">
					Reglamento de la Ley General de Vida Silvestre
				</a>
				<a href="" class="list-group-item list-group-item-action" target="_blank">
					
				</a>
				<a href="" class="list-group-item list-group-item-action" target="_blank">
					
				</a>
				<a href="" class="list-group-item list-group-item-action" target="_blank">
					
				</a>
				<a href="" class="list-group-item list-group-item-action" target="_blank">
					
				</a>
				<a href="" class="list-group-item list-group-item-action" target="_blank">
					
				</a>
			</div>
		</div>
		</div>
	</div>
	<br><br><br><br><br><br>
{% endblock content %}